                 /*=============  Main CSS =============*/
*{
    box-sizing: border-box;
    font-family: 'Almarai','Montserrat', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}
*::selection{
    background-color: rgb(185, 24, 57);
    color: white;
}
html{
    scroll-behavior: smooth;
    direction:rtl;
}
/* ======= my frame work ======== */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services #services-items p{
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.9rem;

}
.title{
    font-size:3rem;
    color: black;
    font-weight: 300;
    margin-bottom:10px ;
    text-transform:uppercase;
    text-align: center;
    text-shadow: -5px 3px 7px #00000094;
}
.title span{
    color: crimson;
}
.aa{
    color:white;
    display:inline-block;
    border: red 2px solid ;
    padding: 15px 40px;
    background-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;   
    margin-top: 30px;
    transition: .8s ease-in-out all ;
    /* transition: 3s ease background-color; */
}
.aa:hover{
    transition: .3s ease ;
    background-color:red;
}
.aa:active{
    transition: .1s ease ;
    background: radial-gradient(red,rgb(143, 141, 32));
    color: black;
    font-weight: bold;
}
.brand h1{
    padding-right: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color:crimson
}
/* ====== End my frame work ======= */

/* navbar */
#header {
    /* overflow: hidden; ssss */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
    min-height: 8vh;
    /* background: linear-gradient(181deg, #29323c 43%, #9097a0 152%); */
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.116);
	font-size: 7rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End navbar */

/* ===== slider ===== */
#slider{
    background-image: url(../img/01.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#slider .intro{
    line-height: 33px;
}
#slider .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start
}
#slider::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#0000002b;
    z-index: -1;
}
#slider .container .intro p{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: -3px 4px 5px black;
    /* animation:  slider_p .5s ease forwards;00 */ 
}
#slider .container .intro h1{
    display:block;
    width: fit-content;
    font-size:3rem; /* 4rem */
    position: relative;
    color:transparent;
    /* animation: text_animi2 .5s ease forwards;
    animation-delay: 1.5s; */
    /* text-shadow: -9px 10px 8px black; */
}
#slider h1:nth-child(1){
    animation: text_animi2 .5s ease forwards;
    animation-delay: 1.5s;
}
#slider h1:nth-child(2){
    animation: text_animi2 .5s ease forwards;
    animation-delay: 1.5s;
}
#slider h1:nth-child(3){
    animation:  text_animi_name .5s ease forwards;
    animation-delay: 1.5s;
}
#slider .intro h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 231%;;
    width: 0;
    background-color: crimson;
    animation: text_animi 1s ease ;
    animation-delay:1s ;
}
#slider .container .intro h1:nth-child(1) span{
    animation-delay: 1s;
}
#slider .container .intro h1:nth-child(2)span{
    animation-delay: 2s;   
}
#slider .container .intro h1:nth-child(3)span{
    animation-delay: 3s;  
}
.cta{
    color:white;
    display:inline-block;
    border: red 2px solid ;
    padding: 5px 30px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight:599 ;
    text-transform: uppercase;
    letter-spacing: .1rem;    
    margin-top: 30px;
    transition: .8s ease-in-out all ;
    /* transition: 3s ease background-color; */
}
.cta:hover{
    transition: .3s ease ;
    background-color:red;
}
.cta:active{
    transition: .1s ease ;
    background: radial-gradient(red,rgb(143, 141, 32));
    color: black;
    font-weight: bold;
}
/* ====== end slider =====*/

/* Sevrises */
#services{
    background-image: linear-gradient(180deg, #e1dada, transparent);
}
#services .contianer{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
.service_top{
    max-width: 500px;
    margin:0 auto;
}
.service_top .title{
    font-size: 3rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .contianer .service_top .title span{
    color: crimson;;
}
#services .contianer .service_top p{
    font-size: 1.2rem;
    line-height: 36px;
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: 300;
    letter-spacing:.05rem ;
    /* padding: 0px 180px 0px 180px; */
}
#services .service_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#services .service_bottom .services-items{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:column ;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../img/3.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    color: white;
}
#services .service_bottom .services-items p{
    font-size: 1rem;
    font-weight:bold ;
    text-shadow: -7px 4px 27px black;
    line-height: 20px;
}
#services .service_bottom .services-items::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
    opacity:.7 ;
    z-index: -1;
    border-radius: 10px;
}
#services .service_bottom .services-items .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
}
#services .services-items h2{
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* end Sevrises */

/* projects */

#projects .container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .project-header h1{
    margin-bottom: 35px;
}
#projects .all-project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .all-project .project-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden; 
    border-radius: 10px;
}
#projects .all-project .project-info{
    padding: 30px;
    flex-basis:50% ;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(60deg,#29323c 0%,#7e92a8 100%) ;
    color: white;
}
#projects .all-project .project-info h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top:10px ;
    margin-bottom: 5px;
}
#projects .all-project .project-image{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .all-project .project-image:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(60deg,#29323c 0%,#7e92a8 100%) ;
    opacity: .2;
}
.project-image img{
    transition: .3s ease-in-out transform;
}
#projects .project-items:hover .project-image img{
    transform:scale(1.1) ;
}
/* end projects */

/* ===== about me ====== */
#about{
    background-image: linear-gradient(180deg, #e1dada, transparent);
}
#about .about-contianer{
    flex-direction:column-reverse; /* <===== ???????? */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
#about .about-contianer .my-img{
    width: 300px;
    height: 377px;
    margin-left: 5%;
    margin-bottom:120px ;
    /* border: 12px solid white; */
}
#about .my-img .about-img{
    position: relative;
    /* border: 2px solid rgba(0, 0, 0, 0.151); */
    width: 299px;
    height: 435px;
    box-shadow: -11px 11px 14px #68454577;
}
#about .my-img .about-img img{
    box-shadow: 0 0 13px #0000006b;
    border-bottom: 1px solid crimson;
    border-left: 1px solid crimson;
}
#about .about-contianer .about-img::after{
    content: '';
    position: absolute;
    left: -29px;
    top: 20px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
#about .about-contianer .info{
    width: 100%;
}
#about .about-contianer h3{
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom:10px ;
}
#about .about-contianer .info p{
    margin-bottom: 20px;
    line-height: 25px;
}
#about .about-contianer .info a{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
}

/* ====== end about me ======= */

/* ======= contact ======== */
#contact{
    border-bottom: 1px solid crimson;
}
#contact .contianer{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display:flex;
    align-items: center;
}
#contact .contianer .contact-items{
    /* width:100%;
    padding: 20px; */
    width: 400px;
}
#contact .contianer .contact-items .items{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    display:flex;
    align-items: center;
    box-shadow: 1px 0px 20px 4px #0000002c;
    flex-direction: column;
    transition: .4s ease;
}
#contact .contianer .contact-items .items:hover{
   box-shadow: 0px 0px 10px 0px #0000002c;
}
#contact .contact-items .icon{
    width: 70px;
    margin:0 auto;
    margin-bottom: 2px;
}
#contact .contact-info h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;

}
#contact .contact-info h2{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}
/* ======= end contact ======= */

/* ======= Footer ====== */
#footer {
    background-image: url(../img/04.jpg);
    background-size: cover;
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
}
#footer .contianer{
    min-height: 200px;
    flex-direction: column;
    padding-top:50px ;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#footer h2{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon ul{
    float: left;
    margin-bottom: 30px;
    height: 50px;
}
#footer .social-icon ul li{
    display: inline-table;
    width: 43px;
    margin: 0 5px ;
}
#footer .social-icon ul li img{
    filter: grayscale(1);
    transition: .3s ease filter;
    transition: .3s ease ;
}
#footer .social-icon li:hover img{
    filter: grayscale(0);
    transform: translate(0px,-5px) scale(1.1,1.1);
    /* transform: scale(1.2,1.2);  */
    transition: .5s ease;
}
#footer p{
    color: white;
}
.copy{
    background-color: #22272e;
    color:#90a0a5 ;
    text-align: center;
    padding: 10px 0px 5px 0px;
}
/* ======= End footer ===== */

/* animation text */
@keyframes text_animi{
    50%{ 
        width: 0;
        left: 100%;
    }
    100%{
        width: 100%;
        left: 0;
        background-color:red;
    }
}
@keyframes text_animi2{
    100%{
        color:white ;
        text-shadow: -9px 10px 8px black;
    }
}
@keyframes text_animi_name{
    100%{
        color:crimson ;
        font-weight: 500px;
        text-shadow: -9px 10px 8px black;
    }
}

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform:scale(1) ;
    }
    100%{
        opacity: 0;
        transform:scale(1.3) ;
    }
}
@keyframes slider_p{
    100%{
        letter-spacing: normal;
    }
}
/* animation text */

/* ======== media query for Tablet ======== */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 1.8rem;
        padding: 13px 35px;
    }
    .title{
        font-size:3.2rem ; 
    }
    .service_top .title{
        font-size:3.2rem 
    }
    /* slider */
    #slider .container .intro h1{
        font-size: 4rem;
    }
    #slider .container .intro p{
        letter-spacing: 1rem;
        animation:  slider_p 1s ease forwards;
        font-weight: 600;
    }
    /* End slider */

    /* Servies */
    #services .contianer .service_bottom .services-items{
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End servies */

    /* Project */
    #projects .all-project .project-items{
        flex-direction: row;
    }
    #projects .container .project-items:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .container .project-items{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-project .project-info{
        height: 100%;
    }
    #projects .all-project .project-image{
        height: 100%;
    }
    /* End Project */
    
    /* about */
    #about {
        background-image: linear-gradient(90deg, #e1dada, transparent);
    }
    #about .about-contianer{
        flex-direction: row;

    }
    #about .about-contianer .my-img{
        /* width: 35%;
        float: left; */
        width: 600px;
		height: 400px;
        padding-left: 30px;
        border: none;
    }
    #about .about-contianer .my-img img{
        border-bottom: 1px solid crimson;
        border-left: 1px solid crimson;
        
    }
    #about .about-contianer .about-img::after{
        left: -39px;
        top: 27px;
		height: 98%;
		width: 98%;
		border: 7px solid crimson;
    }
    #about .about-contianer .info h1{
        text-align: right;
    }
    #about .about-contianer .info{
        /* width: 65%;
        float: left;
        text-align: left; */
        text-align: right;
		padding: 30px;
	}
    #about .about-contianer .info h1{
        text-align: left;
    }
    /* End adout */

    /* contact */
    #contact .contianer{
        flex-direction: column;
        padding: 100px 0px;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contianer .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin:0;
        padding: 20px;
    }
    #contact .contianer .contact-items .items{
        margin:20px;
        /* flex-direction: row;    <===== add this to disktop ===== */
    }
    /* End contact */
}
/* ======== end media query for Tablet ====== */

/* ========  media query for desktop ====== */
@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul li{
        display: inline-block;
        margin-left: 0px;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
        
    }
    #header .nav-list ul li a {
        font-size: 1.1rem;
        font-weight: 500;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    /* end header */
    #services .contianer .service_bottom .services-items{
        flex-basis: 22%;
		margin: 1.5%;
    }
    #slider .container .intro p{
        letter-spacing: 1rem;
        animation:  slider_p 1s ease forwards;
        font-weight: 600;
    }
    .service_top{
        max-width: 900px;
        margin:0 auto;
    }
    #about .about-contianer .info h1{
        text-align: right;
    }
}
/* ======== end media query for desktop ====== */
